<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 Not Found</title>
    <%- include("head.ejs") %>
  </head>
  <body>
    <%- include("header.ejs", {settings}) %>
    <center style="margin-top: 100px">
      <h1>404</h1>
    </center>
  </body>
</html>
