doctype html
html(lang="en")
  head
    title 404 Not Found
    include head.pug
  body
    center(style="margin-top:200px")
      h1 What are you doing you fucking moron 💀
      p.shitpost Unauthorized
      
      img.shitpostimg(src="https://media.tenor.com/L1P-31Uhi94AAAAd/poggers-pog.gif", alt="")
      br
      img.shitpostimg(src="https://media.tenor.com/wkOJEzVMSAEAAAAd/bruh-nigga-what-u-say.gif", alt="")
      br
      img.shitpostimg(src="https://media.tenor.com/7rtxEIRkx9kAAAAd/black-man-meme.gif", alt="")
      br
      img.shitpostimg(src="https://media.tenor.com/KeUoxWbm5GUAAAAd/black-rising.gif", alt="")