doctype html
html(lang="en")
  head
    title 404 Not Found
    include head.pug
  body
    center(style="margin-top:200px")
      h1 What are you doing you fucking moron 💀
      if Object.keys(ip).length > 0
        p.shitpost I see you're trying to log in to my private website? You dumb imbecile 💀 I know that this shit is not secure but failing to go through a simple if statement? If you really want to access it, perhaps consider exploring potential exploits or at least use a VPN. By the way, how is the weather in #{ip["country"]}? I've been thinking about moving to #{ip["city"]} lately, but I've heard the internet connection there can be problematic. Have you come across #{ip["asname"]}? Are their services reliable?
      else
        p.shitpost Unauthorized
      img.shitpostimg(src="https://media.tenor.com/L1P-31Uhi94AAAAd/poggers-pog.gif", alt="")
      br
      img.shitpostimg(src="https://media.tenor.com/wkOJEzVMSAEAAAAd/bruh-nigga-what-u-say.gif", alt="")
      br
      img.shitpostimg(src="https://media.tenor.com/7rtxEIRkx9kAAAAd/black-man-meme.gif", alt="")
      br
      img.shitpostimg(src="https://media.tenor.com/KeUoxWbm5GUAAAAd/black-rising.gif", alt="")