:root,
html[data-theme="Dark"] {
  --text: #f2eff6;
  --accent: #8a8a8a;
  --transparent: #8a8a8a3a;
  --primary: #474747;
  --background: #171717;
}

html[data-theme="Light"] {
  --text: #050505;
  --accent: #808080;
  --transparent: #8080803a;
  --primary: #474747;
  --background: #fafafa;
}

html[data-theme="Amoled"] {
  --text: #f2eff6;
  --accent: #df11df;
  --transparent: #df11df3a;
  --primary: #ad67f4;
  --background: #000;
}

html[data-theme="Cyberpunk 2077"] {
  --text: #57f4fe;
  --accent: #fd5b54;
  --transparent: #fd5a54b4;
  --primary: #57f4fe;
  --background: #000;
}

* {
  transition: all 0.75s;
}

body {
  margin: 2.5vw;
  background: var(--background);

  overflow-x: hidden;
}

.navbar {
  margin: -2.5vw;
  background: var(--background) !important;
}

.container {
  margin-top: 3vw;
}

* {
  color: var(--text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Infobox */

.infobox {
  margin: 0;
  border: 0;
  box-sizing: border-box;

  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Microsoft YaHei Light", sans-serif;

  max-width: 300px;
  width: 300px;
  color: var(--accent);

  border: 2px solid var(--transparent);
  border-radius: 4px;

  background-color: rgba(255, 255, 255, 0);
  padding: 6px;

  transition: all 0.3s ease;
  float: right;
}

.infobox::after {
  border-color: var(--transparent) !important;
}

/* Margin between blocks */
.infobox > *:not(:last-child) {
  margin-bottom: 6px;
}

/* Defines header container */
.infobox .heading {
  border-radius: 4px;
  background-color: var(--transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

/* Infobox main header */
.infobox .heading h2 {
  margin: 0;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
}

.infobox .heading h1 {
  margin: 0;
  line-height: 1;
  font-size: 12px;
  margin-top: 5px;
  color: var(--accent);
  font-weight: normal;
}

/* Infobox block header */
.infobox .heading h3 {
  margin: 0;
  line-height: 1;
  font-size: 14px;
}

.infobox-img {
  display: block;
  width: 100%;
}

/* Row inside a block*/
.infobox-datarow {
  font-size: 12px;
}

/* Block heading margin */
.infobox-group .heading {
  margin-bottom: 8px;
}

/* Defines data display */
.infobox-datarow .data-heading,
.infobox-datarow .data-content {
  display: inline-block;
  margin: 2px;
  vertical-align: top;
}

.infobox-datarow .data-heading {
  width: 35%;
  font-weight: 500;
}

.infobox-datarow .data-content {
  list-style-type: none !important;
  padding-left: 0;
}

.infobox-datarow .data-content * {
  white-space: pre-wrap;
}

.data-content {
  max-width: 60% !important;
}

/* Removing bullets that obsidian renders from code blocks */
.infobox .infobox-datarow .list-bullet::before,
.infobox .infobox-datarow .list-bullet,
.infobox .infobox-datarow .list-bullet::after {
  all: unset !important;
  display: none !important;
}

/* Removing padding of first column of multi-column markdown */
.mcm-column-div:is(:first-child) {
  padding-inline-start: 0px;
}

.infobox-gallery {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 6px;
  height: fit-content;
}

.gallery-tabs {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.9) transparent;
  position: relative;
  z-index: 1;
}

.gallery-tab {
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--transparent);
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px 4px 0 0;
  flex-shrink: 0; /* Prevent tabs from shrinking */
  white-space: nowrap; /* Prevent tabs from wrapping */
}

.gallery-tab.active {
  background-color: var(--accent);
  color: var(--text);
}

.infobox-gallery .infobox-img {
  width: 100%;
  display: block;
}

.infobox-gallery .infobox-img:not(.active) {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}

.infobox-gallery .infobox-img.active {
  transform: translateX(0%);
  transition: all 0.1s ease-in-out;
}

.blurred-image {
  filter: blur(20px);
  cursor: pointer;
  transition: filter 0.3s ease;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.blurred-image:hover {
  filter: none;
}

/* Increasing page width */
body {
  --file-line-width: 900px;
}

.infobox-button {
  color: var(--accent);
  font-size: 12px;
  cursor: pointer;
}

#generate_dox_button {
  float: left;
}

#edit_button,
#save_to_file {
  float: right;
}

.content {
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  text-align: justify;
}

::selection {
  background-color: var(--accent);
  color: var(--text);
}

a {
  color: var(--accent) !important;
  text-decoration: none;
}

a:hover {
  color: var(--accent) !important;
  text-decoration: underline;
}

a:visited {
  color: var(--accent) !important;
}

a:active {
  color: var(--accent) !important;
  text-decoration: underline;
}

#table a {
  color: var(--text) !important;
}

#toc {
  width: fit-content;
  padding: 4px;
  margin: 12px;
  border: 2px solid var(--transparent);
  border-radius: 4px;
  color: var(--accent);
}

#toc ul {
  list-style-type: disc;
  margin: 8px;
}

#toc ul li a {
  padding: 8px;
}

#toc ul li a:hover {
  background-color: var(--transparent);
  border-radius: 4px;
  color: var(--text);
}

#toc ul li::marker {
  color: var(--transparent);
}

.sticky {
  position: sticky !important;
  top: 10px;
}

button {
  color: var(--text);
  background-color: var(--accent);
}

input {
  color: var(--text);
  background-color: var(--transparent);
  border: none;
  border-radius: 4px;
  width: 100%;
}

.infobox-input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  color: var(--text);
  background-color: var(--transparent);
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
}

#subtitle_input {
  text-align: center;
}

/* mobile */
@media (max-width: 768px) {
  .infobox {
    max-width: 100%;
    width: 5000px;
    margin-bottom: 20px;
  }

  .order-md-first {
    order: 1;
  }

  .sticky {
    position: relative !important;
    top: 0;
  }

  .infobox .heading h2 {
    font-size: 18px;
  }

  .infobox .heading h1 {
    font-size: 16px;
  }

  #toc {
    display: none;
  }

  .order-md-first {
    margin-top: 50px;
  }

  .content-col {
    font-size: 12px;
  }

  #table {
    font-size: 10px;
  }

  .small-screen-warning {
    display: block;
  }

  .infobox-datarow .data-heading {
    width: 30%;
    font-weight: 500;
  }

  
  .data-content {
    max-width: 75%;
  }

  .shitpost {
    width: 90vw;
  }
}

.small-screen-warning {
  display: none;
}

.center-home {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

th {
  cursor: pointer;
}

#table {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  border-radius: 10px;
}

/*Theme the header*/
.tabulator-header {
  background-color: var(--primary) !important;
  color: var(--text) !important;
  border: none !important;
}

/*Allow column header names to wrap lines*/
.tabulator-col,
tabulator-col-row-handle {
  white-space: normal;
  border: none !important;
}

/*Color the table rows*/
.tabulator-row {
  border: none !important;
  color: var(--text);
  background-color: var(--accent) !important;
}

/*Color even rows*/
.tabulator-row:nth-child(even) {
  background-color: var(--background) !important;
  border: none !important;
}

.tabulator-col {
  color: var(--text);
  border: none !important;
  background-color: var(--background) !important;
}

.authenticity {
  text-decoration: underline dotted 2px !important;
  border-radius: 4px;
  padding: 2px;
}

.authenticity-1 {
  text-decoration-color: #ffae00 !important;
}

.tippy-box[data-theme~="1"] {
  background-color: #7c5602;
  padding: 2px;
}

.authenticity-2 {
  text-decoration-color: #00ff00 !important;
}

.tippy-box[data-theme~="2"] {
  background-color: #024d02;
  padding: 2px;
}

.shitpost {
  width: 50vw;
}

.loginbtn {
  color: var(--text);
  background-color: var(--accent);

  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}
