module.exports = {
  // Important / Backend !!!
  dataPath: "path to your data folder",
  dataPathSplitter: "\\", // "/" on linux
  shouldBlurImages: true, // doesn't work, all images are blured
  protocol: "http://",
  host: "192.168.0.135", // this is used for generating url in <a> tags in front end. if hosted on domain: example.domain.com
  port: 3000, // delete if hosting on a domain
  hostport: 3000, // port to host the server on
  url: function () {
    return `${this.protocol}${this.host}${this.port ? `:${this.port}` : ""}`; // dont touch
  },

  authentication: {
    permitted: ["email1"],
    // Discord OAuth
    discord: {
      enabled: true, // doesnt work, auth required
      id: "app id",
      secret: "app secret",
    },
  },
  logs: {
    discord: {
      enabled: true,
      webhook:
        "webhook url",
    },
  },

  // Appearance
  fontAwesomeKit: "https://kit.fontawesome.com/791ff69285.js",
  defaultTheme: "Dark",
  metaTitle: "WikiFS",
  metaDescription:
    "A custom WikiFS instance.",
  metaEmbedColor: "#d40405",
  logo: "https://raw.githubusercontent.com/Pazdikan/Pazdikan.github.io/master/logo.png",
};
